.popup-sucess {
     display: none;
}

.popup-sucess-opened {
    display: block;
    max-width: 1280px;
    max-height: 900px;
    margin: auto;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-sucess__itens {
    max-width: 430px;
    min-height: 330px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 230px;
    right: 460px;
}

.popup-sucess__icon_close {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 190px;
    right: 415px;
}

.popup-sucess__icon_sucess {
    max-width: 120px;
    max-height: 120px;
    padding: 50px 120px 0;
    color: #000;
}

.popup-sucess__title {
    max-width: 358px;
    max-height: 58px;
    color: #000;
    font-family: "inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    margin: 35px auto;
    text-align: center;
}

@media screen and (max-width:1600px) {
    .popup-sucess__itens {
        top: 230px;
        right: 572px;
    }

    .popup-sucess__icon_close {
        top: 180px;
        right: 530px;
    }
}

@media screen and (max-width:1280px) {
    .popup-sucess__itens {
        top: 230px;
        right: 460px;
    }

    .popup-sucess__icon_fail {
        padding: 50px 120px 0;
    }

    .popup-sucess__icon_close {
        top: 190px;
        right: 415px;
    }
}

@media screen and (max-width:1150px) {
    .popup-sucess__itens {
        top: 220px;
        right: 350px;
    }

    .popup-sucess__icon_close {
        top: 175px;
        right: 295px;
    }
}


@media screen and (max-width:1060px) {
    .popup-sucess__itens {
        top: 220px;
        right: 300px;
    }

    .popup-sucess__icon_close {
        top: 175px;
        right: 250px;
    }
}

@media screen and (max-width:930px) {
    .popup-sucess__itens {
        top: 220px;
        right: 280px;
    }

    .popup-sucess__icon_close {
        top: 175px;
        right: 230px;
    }
}

@media screen and (max-width:768px) {
    .popup-sucess__itens {
        top: 175px;
        right: 200px;
    }

    .popup-sucess__icon_close {
        top: 130px;
        right: 150px;
    }
}